In [1]:
import pandas as pd

In [9]:
import glob

In [14]:
preprocessed_data_list=sorted(glob.glob('../raw_data/seoul_metro_raw/*.csv'))[:4]

In [21]:
df_2017=pd.read_csv(preprocessed_data_list[0],index_col=0)
df_2018=pd.read_csv(preprocessed_data_list[1],index_col=0)
df_2019=pd.read_csv(preprocessed_data_list[2],index_col=0)
df_2020=pd.read_csv(preprocessed_data_list[3],index_col=0)

In [57]:
list(df_2020.columns)[3]

'06이전'

In [56]:
list(df_2017.columns)[3]

'05~06'

In [58]:
df_2020.rename(columns={'06이전':'05~06','24이후':'00~01'},inplace=True)

In [59]:
df_2017.columns == df_2020.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [62]:
df_tot=pd.concat([df_2017,df_2018,df_2019,df_2020])

In [67]:
df_tot=df_tot.set_index('날짜')

In [69]:
df_tot.index

Index(['2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01',
       '2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01',
       ...
       '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
       '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31'],
      dtype='object', name='날짜', length=804584)

In [71]:
df_tot.index=pd.to_datetime(df_tot.index,format='%Y-%m-%d')

In [73]:
df_tot.to_csv('../raw_data/seoul_metro_raw/merged_raw_metro.csv')

In [136]:
df_tot_raw = df_tot.copy()

In [137]:
temp=df_tot[df_tot['구분']=='하차']

In [138]:
temp.drop('구분',axis=1,inplace=True)

/var/folders/r1/58cpj4hx7j75vx_3j1y6vpvw0000gn/T/ipykernel_1075/727034372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.drop('구분',axis=1,inplace=True)

In [141]:
temp

,역명,05~06,06~07,07~08,08~09,09~10,10~11,11~12,12~13,13~14,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,합계
날짜,,,,,,,,,,,,,,,,,,,,,
2017-01-01,서울역,278,880,859,964,1407,1622,1681,2070,2345,...,2743,3074,2492,2120,1798,1618,962,551,179,32931
2017-01-01,시청,73,203,314,483,669,611,668,731,689,...,523,483,392,287,257,189,157,122,32,8296
2017-01-01,종각,61,184,254,676,1031,992,1084,1406,1670,...,1406,1265,1027,694,426,313,243,145,33,16016
2017-01-01,종로3가,55,135,165,312,610,967,1275,1677,2098,...,1118,968,740,494,289,296,215,165,59,15087
2017-01-01,종로5가,18,76,127,277,460,590,780,1014,1027,...,758,666,538,294,246,221,176,108,24,9178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,남한산성입구(성남법원.검찰청),47,128,296,672,303,226,256,351,395,...,745,849,1116,874,548,562,275,154,0,8932
2020-12-31,단대오거리,70,205,308,520,274,183,212,300,327,...,573,761,860,660,458,432,237,121,0,7435
2020-12-31,신흥,31,95,78,211,145,165,166,164,221,...,341,381,428,292,229,219,85,42,0,3920
2020-12-31,수진,15,70,92,227,190,166,155,149,273,...,309,300,372,296,232,202,127,45,0,3754
2020-12-31,모란,15,59,111,181,142,109,125,126,199,...,183,228,183,162,71,99,39,25,3,2405